
h2{
  font-size: 35px;
  font-family: fantasy;
  
}
body{
  flex-direction: center;
  justify-content: center;
}
#mm{
  width: 80px;
  height: 30px;
  background-color: crimson;
  border-radius: 20px;
  color: white;
  padding-right: 0px;
  margin-right: 20px;
}
#pp{
  width: 80px;
  height: 30px;
  background-color: crimson;
  border-radius: 20px;
  color: white;
  margin-right: 35px;
  margin-left: 30px;
  
}
div{
  padding-top: 40px;
  padding-left: 45px;
  padding-bottom: 40px;
  background-color:#f5f5f5;
}
img{
  padding-left:44px;
  
}